.wrapper__mini-contact {
  background-color: $clr-surface-a10;
}

.mini-contact__content {
  padding: 2rem;
}

.wrapper__card__projects {
  background-color: $clr-surface-a10;
  padding: 3rem;
  margin-bottom: 2rem;
}

.wrapper__card__projects p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.wrapper__project-kpi {
  background-color: $clr-surface-a20;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  transition: all 0.3s ease;

  &:hover {
    background-color: $clr-surface-a0;
  }
}

.wrapper__project-kpi .bi {
  margin-top: auto;
  margin-bottom: auto;
}

.wrapper__work-row {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.work-row-content {
  padding: 1rem;
  border-bottom: 1px solid $body-secondary-bg-dark; 
}

.col-contact-item {
  margin-bottom: 1.5rem;
}
