.project__image-item {
  margin-bottom: 1rem;
  box-shadow: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0.3rem 2rem $primary;
  }
}

.img__about-gallery-item {
  filter: grayscale(80%);
  transition: filter 0.3s ease;

  &:hover {
    filter: none;
  }
}
