body::before {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #f00;
  content: "XS";
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}
